.popup {
  transition: opacity 0.4s ease-out;
  opacity: 0;
  height: 0;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@media screen and (min-width: 768px) {
  .popup {
    min-width: 768px;
  }
}

@media screen and (min-width: 1024px) {
  .popup {
    min-width: 1024px;
  }
}

@media screen and (min-width: 1280px) {
  .popup {
    min-width: 1280px;
  }
}
